In [28]:
## Activity 1 using python

## Installing the necessary packages
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import linear_model
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import mean_squared_error, r2_score
import math

In [29]:
## Importing the datasets

df1 = pd.read_csv("/Users/junlongng/Desktop/NTU/Year_2/Semester 2/BC2407 Analytics II/BC2407 Course Materials/S2 Review of Basic Analytics/default.csv",dtype= {'Default':'category', "Gender": "category"})
df1.head()

  Default Gender  AvgBal  Income
0      No      M     730   44362
1      No      F     817   12106
2      No      M    1074   31767
3      No      M     529   35704
4      No      M     786   38463

In [30]:
## Checking for NA values
df1.info()

## This shows us that we need to recode Default & Gender
## Refer to first block

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Default  10000 non-null  category
 1   Gender   10000 non-null  category
 2   AvgBal   10000 non-null  int64
 3   Income   10000 non-null  int64
dtypes: category(2), int64(2)
memory usage: 176.0 KB

In [31]:
## python cannot automatically interpret strings as category
## so we need to encode the respective categories with the number codes
df1.Default = df1.Default.cat.codes
df1.Gender = df1.Gender.cat.codes

In [42]:
x_data = df1[['Gender', 'AvgBal', 'Income']]
target_y = df1['Default']
log_reg = LogisticRegression()
log_reg.fit(x_data, target_y)
## Predicting Target Y
pred_y = log_reg.predict(x_data)
y_prob = log_reg.predict_proba(x_data)
y_prob

array([[9.98162939e-01, 1.83706090e-03],
       [9.98234634e-01, 1.76536602e-03],
       [9.71003008e-01, 2.89969916e-02],
       ...,
       [9.98928672e-01, 1.07132824e-03],
       [7.91578386e-01, 2.08421614e-01],
       [9.99950364e-01, 4.96355118e-05]])